@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(315deg, #7f5a83, #0d324d);
}

.wrapper {
    max-width: 405px;
    padding: 28px 0 30px;
    margin: 137px auto;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.task-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.task-input img {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}

.task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0 20px 0 53px;
}

.task-input input:focus,
.task-input input.active{
    padding-left: 52px;
    border: 2px solid  	#363062;
}

.task-input input::placeholder {
    color: #bfbfbf;
}

.controls, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span{
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
}

.filters span:first-child{
    margin-left: 0;

}

.filters span.active{
    color:  #363062;
}

.controls .clear-btn {
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    padding: 7px 13px;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(315deg, #7f5a83, #0d324d);
}

.clear-btn.active{
    opacity: 0.9;
    pointer-events: auto;
}

.clear-btn:active{
    transform: scale(0.93);
}

.task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}

.task-box.overflow{
    overflow-y: auto;
    max-height: 300px;
}
.task-box::-webkit-scrollbar{
    width: 5px;
}
.task-box::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb{
    background: #e6e6e6;
    border-radius: 25px;
}

.task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task label{
    display: flex;
}

.task label p.checked{
    text-decoration: line-through;
}

.task label input{
    margin-top: 6px;
    margin-right: 12px;
    accent-color: #363062;
}

.task .settings {
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    position: absolute;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    border-radius: 5px;
    background: #ffffff;
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.settings .task-menu.show{
    transform: scale(1);
}

.task-menu li{
    height: 25px;
    font-size: 16px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.task-menu li:last-child{
    margin-bottom: 0;
}

.task-menu li:hover{
    background: #f5f5f5;
}

.task-menu li i {
    padding-right: 8px;

}

.footer {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}